<div class="base">
  <div class="base__container">
    <div class="base__header"></div>
    <div class="base__content"></div>
    <div class="base__footer"></div>
  </div>
  <div class="base__modals"></div>
  <div class="base__menu"></div>
</div>
