<div class='menu__container'>
  <div class='menu__gradient'></div>
  <div class='menu__wrap'>
    <div class='menu__list'>
      <a href=''>Home</a>
      <!--<a href='industry-solutions'>Industry Solutions</a>-->
      <a href='about-us'>About Us</a>
      <a href='#' data-scroll='.footer'>Contact</a>
    </div>
  </div>
</div>
