@import "compass/css3";

@import 'lib/bootstrap';
@import 'font-awesome/font-awesome';
@import 'fonts';
@import 'media-query';
@import 'lib/animate';
//@import 'lib/videojs';


@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin exo-font() {
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-style: italic;
}

$colBody: #4a4a4a;
$colBlueDeep: #1c4387;
$colGreyPale: #f2f2f2;
$colBlue: #009fe3;
$colGreen: #a0c600;
$colOrange: #fec74f;
$colRed: #d82520;
$titleRed: #db2522;
$bannerRed: #ff3f40;

h1,h2,h3,h4,h5,.btn {
  @include exo-font();
}

p, body {
  font-family: 'Lato', sans-serif;
  //-webkit-font-smoothing: antialiased;
}
p {
  font-weight: 300;
}

.btn {
  font-weight: 400;
  padding: 0.6em 0;
  width: 12em;
  font-size: 2rem;
  display: block;
  text-align: center;
  border-radius: 2em;
  outline: none;
  background: none;
  color: white;
  border: 2px solid white;
  margin: 0 auto;

  transition: all 0.2s ease-out;

  &:hover {
    background: white;
    color: $colBody;
    border: 2px solid white;
  }
}

.mobile-menu-toggle {
  display: none;
  @include mq(xs) {
    display: block;
  }

  @extend .fa;
  @extend .fa-bars;

  font-size: 2em;
  line-height: 48px;
  
}

.base {
  @include mq(xs) {
    background: #373a47;
    box-shadow: inset 20vw 0 35px rgba(33, 33, 33, 0.8);
  }
}
.base__container {
  @include mq(xs) {
    transition: transform 0.3s ease-in-out;
    background-color: white;
    min-height: 100vh;
    position: relative;
    z-index: 1;

    &.menu-open {
      transform: translateX(-80vw);
    }
  }

}

@import 'views/menu';

@import 'views/header';

@import 'views/home';

.page {

  @import 'views/industry-solutions';

  @import 'views/about-us';
}

@import 'views/footer';

