<div class='page__header page__header--solutions parallax-window' data-parallax='scroll' data-image-src='assets/img/industry-solutions/Industry_Solutions.jpg'>
  <h1>Industry Solutions</h1>
  <div class='page__header__navigation'>
    <div class='icon icon--retailers' data-section='retailers'></div> 
    <div class='icon icon--manufactuers' data-section='manufactuers'></div> 
    <div class='icon icon--events' data-section='events'></div> 
  </div>
</div>

<div class='page__section page__section--retailers'>
  <div class='page__section__container container'>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-4 col-sm-5'>
        <h2>Retailers</h2>
        <h5>Reimagine the way business is done in-store</h5>
        <div class='icon icon--retailers'></div>
      </div>
      <div class='col-md-5 col-sm-7'>
        <p>
          With statistics suggesting consumers who pre-shop online are 15 to 30% 
          more likely to purchase in-store than traditional shoppers.
        </p>

        <p>
          Dave Live takes all the advantages and opportunities associated with 
          ecommerce and delivers them live in store.
        </p>

        <p>
          Employing this cutting-edge technology in your store provides endless
          opportunities:
        </p>

        <ul>
           <li>Display localised, real-time promotions, pricing and product information</li>
           <li>Increase dwell time</li>
           <li>Display entire product ranges at your customer’s fingertips with an ‘endless aisle’</li>
           <li>See buying / product trends and understand shopper behaviour</li>
           <li>Identify leaks in your sales funnel</li>
           <li>Utilise mobile marketing</li>
           <li>Build or grow your customer database</li>
           <li>Offer shareable content</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class='page__section page__section--manufactuers'>
  <div class='page__section__container container'>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-4 col-sm-5'>
        <h2>Manufacturers and Wholesalers</h2>
        <h5>Ensure your products are given the in-store prominence they deserve</h5>
        <div class='icon icon--manufactuers'></div>
      </div>
      <div class='col-md-5 col-sm-7'>
        <p>
          With competing brands on the shelf, how can you ensure your
          product stands out in a space you don’t own? How can you
          encourage shoppers to engage with your brand, without direct
          contact?
        </p>

        <p>
          Dave Live is a powerful engagement tool that provides the unique
          opportunity to insert your brand voice into somebody else’s retail
          space.
        </p>

        <p>
          By allowing you to communicate directly with shoppers, Dave Live
          offers manufacturers and wholesalers a whole new world of
          opportunity :
        </p>

        <ul>
          <li>Display localised, real-time promotions, pricing and product information</li>
          <li>Present entire product ranges at your customer’s fingertips with an ‘endless aisle’</li>
          <li>See buying / product trends and understand shopper behaviour</li>
          <li>Utilise mobile marketing</li>
          <li>Build or grow your customer database</li>
          <li>Offer shareable content</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class='page__section page__section--events'>
  <div class='page__section__container container'>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-4 col-sm-5'>
        <h2>Event spaces &amp; stadia</h2>
        <h5>Make the most of your captive audience</h5>
        <div class='icon icon--events'></div>
      </div>
      <div class='col-md-5 col-sm-7'>
        <p>
          Every day, your venue is flooded with patrons. This should equate to 
          endless opportunities to sell and upsell. But are you maximising these 
          opportunities?
        </p>

        <p>
          The volume of footfall in event spaces makes them goldmines of 
          information. However, these goldmines are rarely excavated. Imagine if 
          you could engage with and communicate your messages to every 
          person walking through the door!
        </p>

        <p>
          With Dave Live, the opportunities are endless:
        </p>

        <ul>
          <li>sell the future - tease the next movie, show, match or event, providing immediate opportunities for ticket purchase</li>
          <li>promote merchandise</li>
          <li>manage loyalty programs and promote membership</li>
          <li>display digital menus</li>
          <li>assist way finding</li>
          <li>utilise mobile marketing</li>
          <li>build or grow your customer database</li>
          <li>offer shareable content</li>
        </ul>
      </div>
    </div>
  </div>
</div>
