<div class='home__header'>

  <div class='home__header__nav'>
    <div class='container'>
      <div class='pull-left'>
        <a href='/' class='brand-logo'> 
          DAVELIVE &trade;
        </a>
      </div>
      <div class='pull-right'>
        <ul>
          <li><a href='/about-us'>About</a></li> 
          <li><a href='#' data-scroll='.footer'>Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class='home__header__container container'>

    <div class='home__header__intro'>
      <h1>Engage more. Learn more. Sell more</h1>
      <p>
        Dave Live is an intelligent marketing platform built for broadcasting<br>
        custom content to touch-screens within brick and mortar sales environments.
      </p>
      <i class='fa fa-play-circle-o'></i>
    </div>

  </div>

  <div class='home__header__request'>
    <button type='button' class='btn btn-default'>Request a live demo</button>
  </div>

</div>

<div class='home__section home__section--first parallax-window' data-image-src='assets/img/home/engage/Engage.jpg' data-parallax="scroll">
  <div class='home__section__gradient'></div>
  <div class='home__section__container container'>

    <div class='row'>
      <div class='col-md-12'>
        <h2>Engage more</h2>
      </div>
      <div class='col-md-4'>
        <p>Enhance levels of consumer engagement during
        the final stages on the path to purchase.</p>
      </div>
      <div class='col-md-4'>
        <p>With Dave Live you can manage, schedule
        and broadcast custom interactive content in
        real time from anywhere in the world.
        From one touchscreen to hundreds, you now
        have the power to engage your customers personally in
        any sales environment.</p>
      </div>
      <div class='col-md-4'>
        <p><strong>Using Dave Live, your customers can:</strong></p>
        <ul>
          <li>Select and compare products</li>
          <li>Share products via email or social media</li>
          <li>Sign-up to your loyalty program</li>
          <li>View real-time promotions</li>
        </ul>
      </div>
    </div>

    <div class='home__section__display'>
      <img src='assets/img/home/engage/BikeUI.jpg'>
    </div>

  </div>
</div>

<div class='home__section home__section--second'>
  <div class='home__section__container container'>
    <div class='row'>
      <div class='col-md-4'></div>
      <div class='col-md-8'>
        <h2>Learn more</h2>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-4'></div>
      <div class='col-md-4'>
        <p class='red-text'>dave Live delivers real time analytics
        of the physical and digital sales environment that can be accessed via 
        the dashboard.</p> 
      </div>
      <div class='col-md-4'></div>
    </div>

    <div class='row'>
      <div class='col-md-4'></div>
      <div class='col-md-4'>
        <i class='icon icon--physical'></i>
        <h5>Physical analysis</h5> 
        <p>Measure shopper volumes, dwell times and
        brand loyalty in real-time to gauge
        performance and maximise conversions.</p>
      </div>
      <div class='col-md-4'>
        <i class='icon icon--media'></i>
        <h5>Media analytics</h5> 
        <p>Highlight elements of media and marketing
        that are driving the best response across all
        channels.</p>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-4'></div>
      <div class='col-md-4'>
        <i class='icon icon--screen'></i>
        <h5>Screen analytics</h5> 
        <p>Screen interactions provide real-time
        insights into trending products or latest
        campaigns.</p>
      </div>
      <div class='col-md-4'>
        <i class='icon icon--lead'></i>
        <h5>Lead generation</h5>
        <p>Data collected through touch screen
        interactions, can direct future marketing
        activities.</p>
      </div>
    </div>
  </div>
</div>

<div class='home__section__banner'>
  <h3>"With limitless flexibility, content is tailored to meet specific<br>
  objectives, and address individual business challenges."</h3>
</div>

<div class='home__carousel'>
  <div class='home__carousel__section'>
    <img src='assets/img/home/sell-more/Sell_More_1.jpg'> 
  </div>
  <div class='home__carousel__section'>
    <img src='assets/img/home/sell-more/Sell_More_2.jpg'> 
  </div>
  <div class='home__carousel__section'>
    <img src='assets/img/home/sell-more/Sell_More_3.jpg'> 
  </div>
</div>

<div class='home__links'>
  <div class='home__links__banner'>
    <h2>Industry Solutions</h2>
  </div>

  <div class='row'>
    <div class='col-md-4 parallax-window' data-link='true' href='industry-solutions#retailers' data-image-src='assets/img/home/industry-solutions/Industry_1.jpg' data-parallax="scroll">
      <h3>Retailers<br>&nbsp;</h3>
      <a href='industry-solutions#retailers' class='btn'>Discover</a>
    </div>
    <div class='col-md-4 parallax-window' data-link='true' href='industry-solutions#manufactuers' data-image-src='assets/img/home/industry-solutions/Industry_2.jpg' data-parallax="scroll">
      <h3>Manufactuers<br> &amp; wholesalers</h3>
      <a href='industry-solutions#manufactuers' class='btn'>Discover</a>
    </div>
    <div class='col-md-4 parallax-window' data-link='true' href='industry-solutions#events' data-image-src='assets/img/home/industry-solutions/Industry_3.jpg' data-parallax="scroll">
      <h3>Event spaces<br> &amp; stadia</h3>
      <a href='industry-solutions#events' class='btn'>Discover</a>
    </div>
  </div>
</div>
