<div class='header'>
  <div class='header__nav'>
    <div class='container'>
      <div class='pull-left'>
        <a href='/' class='brand-logo'> 
          DAVELIVE &trade;
        </a>
      </div>
      <div class='pull-right'>
        <ul>
          <li><a href=''>Home</a></li> 
          <li><a href='about-us'>About</a></li> 
          <li><a href='#' data-scroll='.footer'>Contact</a></li>
        </ul>
        <div class='mobile-menu-toggle'></div>
      </div>
    </div>
  </div>
</div>
