<div class='page__about page__about--about-us'>
  <div class='page__about__leftimage' data-parallax='scroll' data-image-src='assets/img/about-us/About_Us.jpg'></div>
  <div class='page__about__rightcont'>
    <div class='container'> 
      <div class='row page__about__header'>
        <div class='col-md-6'>
          <h2>About us</h2>
          <h5>We believe in driving change and have re-written the rule book on how customers shop and interact with brands</h5>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-4'>
          <p>
            Dave Live is an initiative of the T20 Group – a team of marketing 
            professionals and strategy consultants. Engagement is our core 
            business. We work with some of Australia’s leading brands to help 
            create meaningful connections with their customers.
          </p>
          <p>
            Statistics tell us that when consumers use digital devices to research 
            purchases, they are 15 to 30% more likely to buy on-site than traditional 
            shoppers.
          </p>
        </div>
        <div class='col-md-4'>
          <p>
            Many sales driven businesses fail to connect effectively with buyers in 
            the physical sales environment. Therefore, vital business data is either 
            being guessed or assumed, and sales opportunities missed.
          </p>
          <p>
            We considered whether it might be possible to bring the lucrative 
            opportunities associated with ecommerce, and deliver them within bricks 
            and mortar locations. In asking ourselves this question, Dave Live was 
            born.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='page__banner'>
  <h3>Tell us your business challenge.</h3>
</div>
<div class='page__about page__about--how-we-work'>
  <div class='page__about__leftimage' data-parallax='scroll' data-image-src='assets/img/about-us/About_Us2.jpg'></div>
  <div class='page__about__rightcont'>
    <div class='container'> 
      <div class='row page__about__header'>
        <div class='col-md-6 page__about__header-col'>
          <h2>How We Work</h2>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-4'>
          <p>
            Tell us your business challenge and let us work with you to identify the 
            solution.
          </p>
          <p>
            We provide strategy development, content production, software licensing 
            and hardware rental, vary depending on individual needs.
          </p>
          <p>
            Dave Live is built for maximizing your Return On Investment and 
            affordable solutions can be provided for any budget and business.
          </p>
        </div>
        <div class='col-md-4'>
          <p>
            We can produce marketing content from scratch, or use existing 
            marketing assets to create compelling experiences.
          </p>
          <p>
            Our interactive touch-screens can be installed in any number of 
            locations - from one, to a hundred, and more!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
